#bg{
    background:url("../images/doom_2.jpg") no-repeat;
    background-size: 100% 100%;
    overflow:hidden;     
}
#bar{
    background:url('../images/status_bar.jpg') no-repeat;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
#ammo{
    position:relative;
    margin-top:2px;
    background-image:url('../images/statusbartexture.png');
    height:80px;
    width:140px;
    color:rgb(150, 7, 7);
    font-size:72px;
}
#value{
    position: relative;
    background:url('../images/statusbartexture.png');
    height:110px;
    width:172px;  
    margin-left:535px;
    margin-top:-80px;
    color:rgb(150, 7, 7);
    font-size:72px;
}
#score{
    position:fixed;
    margin-left:573px;
    margin-top:-33px;
    color:rgb(172, 169, 169);
    font-size:26px;
}
#bar div{
    font-weight:bold;
    text-align:center;
    text-shadow:-1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}
#reset{
    position:fixed;
    bottom:5px;
    right:5px;
    background-color:blue;
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    cursor:pointer;
}
#reset:hover{
    border:3px solid black;
}
#demon{
    left:1500px;
}
#imp,
#demon{
    position:absolute;
    width:200px;
    height:200px;
}